apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{include "selfhost-cloud.name" .}}-default-pool
  namespace: {{ .Values.global.namespace }}
spec:
  addresses:
  - 192.168.1.240-192.168.1.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2
  namespace: {{ .Values.global.namespace }}