apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{include "selfhost-cloud.name" . }}-release-manager
  namespace: {{ .Values.global.namespace }}
rules:
  - apiGroups: [""]        # core resources
    resources: ["secrets","services","configmaps","pods"]
    verbs: ["get","list","watch","create","update","patch","delete"]
  - apiGroups: ["apps"]    # deployments, statefulsets, etc.
    resources: ["deployments","statefulsets","daemonsets","replicasets"]
    verbs: ["get","list","watch","create","update","patch","delete"]
  - apiGroups: ["networking.k8s.io"]  # ingress, network policies
    resources: ["ingresses","networkpolicies"]
    verbs: ["get","list","watch","create","update","patch","delete"]