apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{include "selfhost-cloud.name" .}}-deployment
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{include "selfhost-cloud.name" .}}
      namespace: {{ .Values.global.namespace }}
  template:
    metadata:
      labels:
        app: {{include "selfhost-cloud.name" .}}
        namespace: {{ .Values.global.namespace }}
    spec:
      containers:
        - name: {{include "selfhost-cloud.name" .}}
          image: registry:2
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: {{include "selfhost-cloud.name" .}}-volume
              mountPath: /var/lib/registry
          resources:
            limits:
              cpu: "8"
              memory: "6Gi"
            requests:
              cpu: "100m"
              memory: "500Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 2
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 2
            periodSeconds: 5
      volumes:
        - name: {{include "selfhost-cloud.name" .}}-volume
          hostPath:
            path: {{.Values.volumeRootDirectory}}/{{.Release.Name}}/{{.Chart.Name}}
            type: DirectoryOrCreate