apiVersion: v1
kind: Service
metadata:
  name: {{include "selfhost-cloud.name" .}}-service-external
  namespace: {{ .Values.global.namespace }}
spec:
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
  clusterIP: None